[Desktop Entry]
Encoding=UTF-8
Name=Link to c - Catch and compute overflow during multiplication of two large integers - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/1815367/catch-and-compute-overflow-during-multiplication-of-two-large-integers
Icon=text-html
