[Desktop Entry]
Encoding=UTF-8
Name=Link to c split long multiplication into two smaller multiplications - Google Search
Type=Link
URL=https://www.google.com/search?q=c+split+long+multiplication+into+two+smaller+multiplications&oq=c+split+long+multiplication+into+two+smaller+multiplications&aqs=chrome..69i57.9776j0j4&sourceid=chrome&ie=UTF-8
Icon=text-html
