[Desktop Entry]
Encoding=UTF-8
Name=Link to Fixed Point Arithmetic in C Programming - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/10067510/fixed-point-arithmetic-in-c-programming
Icon=text-html
Name[en_US]=Link to Fixed Point Arithmetic in C Programming - Stack Overflow%%%%%+
