[Desktop Entry]
Encoding=UTF-8
Name=Link to Long multiplication - Rosetta Code
Type=Link
URL=https://rosettacode.org/wiki/Long_multiplication
Icon=text-html
Name[en_US]=Link to Long multiplication - Rosetta Code%%%%%
